<div class="m-auto">
    <span class="h1">Contact</span>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum reprehenderit labore impedit aperiam deleniti,
        recusandae molestiae id illum vero excepturi, commodi cum mollitia alias odit soluta odio nobis? Commodi, esse.
    </p>

    <div class="bg-light border w-75 mx-auto p-3 rounded">
        <!-- Email input -->
        <div class="row g-3 align-items-center">
            <div class="col-2 text-end fw-bold">
                <label for="email" class="col-form-label">You E-mail</label>
            </div>
            <div class="col-10">
                <input type="password" id="email" class="form-control" placeholder="Your email">
            </div>

            <!-- Message input -->

            <div class="col-2 text-end fw-bold">
                <label for="message" class="col-form-label">You Message</label>
            </div>
            <div class="col-10">
                <textarea class="form-control" id="message" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>

            
            <div class="col-10"></div>
            <button type="submit" class="btn btn-primary col-2">Submit</button>
        </div>

    </div>