<div class="row">
    <div class="col-9">
        <h1>The First Heading <span class="text-black-50">Will Catch Your Eye</span></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vel itaque impedit non, error at a sequi.
            Voluptates, eum error accusantium voluptatem repudiandae repellendus, in laudantium exercitationem
            architecto natus hic
        </p>
    </div>
    <div class="col-3">
        <img class="rounded-circle w-100" src="/website/assets/img/1.jpg" alt="">
    </div>
</div>