<!-- your html code here -->
<h1>Portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reiciendis nostrum ratione laborum nemo quod ad earum nulla iure, adipisci velit vero accusantium nesciunt animi veritatis voluptatum, pariatur culpa inventore.</p>
<div class="card-group">
    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repellat quaerat molestias eveniet pariatur, officia ut incidunt cum. Corrupti error quisquam eaque deleniti veritatis vero recusandae placeat, culpa voluptates voluptas!</p>
      </div>
    </div>
    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odio fuga a eum excepturi nisi, modi quisquam perferendis vitae velit harum blanditiis repellendus minima quo dolorem ipsum atque voluptates eaque!</p>
      </div>
    </div>
    <div class="card">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officia mollitia quo minima rerum fugit distinctio. Ratione atque autem qui assumenda, eligendi amet. Eum, vel neque nihil accusamus sed corporis?</p>
      </div>
    </div>
  </div>