<!-- your html code here -->
<div class="row">
    <div class="col-3">
        <img class="rounded-circle w-50" src="https://png.pngtree.com/thumb_back/fw800/background/20230113/pngtree-office-typing-black-keyboard-image_1528671.jpg"/>
    </div>
    <div class="col-8">
        <h1>The Second Heading Is<span class="text-black-50"> Pretty Cool Too.</span></h1>
        <p>
            How do you make a S’more? The most basic answer is you break a graham cracker in half and lay the two halves on a plate.Top with a square of chocolate (If using a Hershey’s Bar this would be 2 rectangles). Then have a marshmallow, heated up that you add to the chocolate and top with the graham cracker. Press down slightly and enjoy while warm and melted.
        </p>
    </div>
</div>